<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dashboard</title>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <!-- Header Navigation -->
        <header>
            <nav class="navbar">
                <ul>
                    <li><a href="#">Ví mô</a></li>
                    <li><a href="#">Ngành</a></li>
                    <li><a href="#">Doanh nghiệp</a></li>
                    <li><a href="#">Cổ phiếu</a></li>
                    <li><a href="#">Phái sinh</a></li>
                    <li><a href="#">Tra cứu</a></li>
                    <li><a href="#">Tin mới</a></li>
                </ul>
            </nav>
        </header>

        <!-- Main Content -->
        <main>
            <div class="market-overview">
                <h2>Tổng hợp thị trường</h2>
                <div class="tabs">
                    <button>1D</button>
                    <button>5D</button>
                    <button>1M</button>
                    <button>3M</button>
                    <button>6M</button>
                    <button>YTD</button>
                    <button>1Y</button>
                    <button>ALL</button>
                </div>
                <div class="chart">
                    <!-- Xử lý chart ở đây  -->
                    <div class="chart-content">Xử lý biểu đồ ở đây</div>
                </div>
            </div>

            <div class="data-table">
                <table>
                    <thead>
                        <tr>
                            <th>Chứng khoán</th>
                            <th>Giá</th>
                            <th>%D</th>
                            <th>%W</th>
                            <th>%Q</th>
                            <th>%YTD</th>
                            <th>%Y</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td>1,270.14</td>
                            <td>+0.21%</td>
                            <td>+1.91%</td>
                            <td>+2.22%</td>
                            <td>+16.17%</td>
                            <td>+21.52%</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </main>

        <script src="js/script.js"></script>
    </body>
</html>
